body{
    background-color: rgb(4, 51, 81);
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    margin: 0; 
    padding: 0; 
}

nav {
    background-color: rgb(20, 77, 96);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: beige;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

h1 {
    color: beige;
    text-align: center;
    margin-top: 20px;
    font-size: 42px;
    font-weight: 800; 
    
}

section h2 {
    color: beige;
    font-size: 28px;
    font-weight: 700;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgb(20, 77, 96);
    border-radius: 8px;
}

#About,
#Experience, 
#Skills,
#Projects,
#Connect,
#leave-message{
    text-align: center;
}

#Experience ul,
#Skills ul,
#Projects ul, 
#Connect ul,
#messages ul { 
    padding: 0; 
}

#Skills ul,
#Experience ul,
#Projects ul { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

#Experience li,
#Skills li,
#Projects li {
    list-style: none;
    background-color: rgb(83, 128, 251);
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
}

#Experience li {
    border-left: 5px solid rgb(20,77,96);
}

#Connect ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#Connect li{ 
    list-style: none;
}

#Connect a {
    background: rgb(83, 128, 251);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

#leave-message input,
#leave-message textarea {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}

#leave-message textarea {
    height: 100px;
}

#leave-message button,
#messages button {
    background-color: rgb(83, 128, 251);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

#messages li {
    list-style: none;
    background-color: transparent;
    border: 2px solid rgb(83, 128, 251);
    color: beige;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 8px;
}

#messages a {
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(20, 77, 96);
}

@media (max-width: 600px)  {
    #leave-message input, 
    #leave-message textarea {
        width: 95%;
    }

    nav { 
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    nav a {
        margin: 5px 0; 
    }
}